doctype html
html
    head
        meta(charset="utf-8")
        link(href="styles.css" rel="stylesheet")
        
        script(src='js/javascripts.js')
        link(link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel='stylesheet')
        
        link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js")
        script(src="js/typed.js")
        
        
    body
        .loaderWrapper
            #loading 
                p.loadText 
                p.loadStatus 
                
    
        .wrapper
            #topNav
                ul.left
                    li.miniLogo IA
                    li.bold ianOS
                    li File
                    li Edit
                    li View
                    li.help Help
                ul.right
                    li.glyphicon.glyphicon-signal
                    li 100%
                    li#time
                    li Ian Anderson
                    
                    
            
            
            .desktop_icon
                #iconOverview.icon
                    img(src="images/folder.png" ) 
                    p Overview
                #iconAbout.icon
                    img(src="images/folder.png" ) 
                    p About
                #iconPortfolio.icon
                    img(src="images/folderFill.png" ) 
                    p Portfolio
                #iconWelcome.icon
                    img(src="images/folder.png" ) 
                    p Welcome
                #iconBooks.icon
                    img(src="images/folder.png" ) 
                    p Bookshelf        
            
            .window.windowOverview
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.overviewClose
                        li.glyphicon.glyphicon-minus-sign.overviewMin
                        
                        
                    ul.tab
                        li OVERVIEW
                        
                        
                .windowIcon
                span.about 
                    h1 Ian Anderson
                    h6 Version 4.0
                    h3 Frontend Web Developer
                    p Degree 
                        span  Business Management B.S.
                    p Experience
                        span ~1.5 years
                    p Languages
                        span HTML/Jade, CSS/Sass, Javascript/jQuery
                    p Tools
                        span Git, Photoshop, Atom/Brackets
                    p Environments
                        span Windows, Mac, Linux
                    
              
                        
            .window.windowAbout
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.aboutClose
                        li.glyphicon.glyphicon-minus-sign.aboutMin
                        

                    ul.tab
                        li ABOUT
                .windowIcon
                span.about 
                    h1 Ian Anderson
                    p Degree 
                        span Business Management
                    
                        
            .window.windowSettings
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.settingsClose
                        li.glyphicon.glyphicon-minus-sign.settingsMin
                    ul.tab
                        li SETTINGS  
                span.setting
                        .wallpaper
                            h4 Set Wallpaper
                            ul.backgroundChange
                                li: button.background1 Mountains
                                li: button.background2 Sherbet
                                li: button.background3 Oceanic
                                li: button.background4 Silver
                                li: button.background5 nightLights
                        
            
            
            .window.windowEmail
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.emailClose
                        li.glyphicon.glyphicon-minus-sign.emailMin
                    ul.tab
                        li EMAIL to: ian@theiananderson.com
                form(action="//formspree.io/ianderso222@gmail.com" method="POST")
                    
                    input(type="text" name="name" placeholder="Name")     
                    
                    input(type="email" name="_replyto" placeholder="Email") 
                    
                    textarea(type="text" name="message" placeholder="Let's work on something...") 
                    input(type="submit" value="SEND")
            
            .window.windowWelcome
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.welcomeClose
                        li.glyphicon.glyphicon-minus-sign.welcomeMin
                    ul.tab
                        li WELCOME  
                span.welcomeText
                    h4 Hey there! My name is Ian Anderson. I am a Frontend Web Developer. Welcome to my site!
                    h5 As of <strong><u>3/6/2016</u></strong> I am accepting clients and seeking full-time employment.
                    h5 Odds are I would love to work with you, so go ahead, drop me a line.
                    h5 - Click on the folders to the right to read some more about me or view some of my work.
                    h5 - Click on the icons at the bottom to view some of my social pages, change the settings of this page, or send me an email.
                    
            .window.windowPortfolio
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.portfolioClose
                        li.glyphicon.glyphicon-minus-sign.portfolioMin
                    ul.tab
                        li PORTFOLIO 
                .portfolioGrid
                        
                    .item#itemForest    
                        img(src="images/cate3.png" )
                        p Personal Webpage
                    .item#itemCate    
                        img(src="images/cate3.png" )
                        p MaryCateBrown.com
                    .item    
                        img(src="images/cate3.png" )
                        p MaryCateBrown.com
                    .item    
                        img(src="images/cate3.png" )
                        p MaryCateBrown.com
            .window.windowGallery
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.galleryClose
                        li.glyphicon.glyphicon-minus-sign.galleryMin
                    ul.tab
                        li PORTFOLIO GALLERY 
                .galleryWrapper
                    .galleryItem#forest    
                        .galleryImage
                            img(src="images/forest_case.png" )
                        .galleryText
                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iusto debitis odio ipsum nemo, nihil quibusdam accusamus deserunt fugit magni temporibus eligendi sunt in inventore quasi. Ratione, totam dolorem dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus libero expedita corrupti ipsum quasi blanditiis ratione porro nostrum, sed dignissimos doloremque nemo, voluptatem quo tempora tempore autem id laboriosam ullam.
                            a(href="")
                                p View Site
                                
                    .galleryItem#cate
                        .galleryImage 
                            img(src="images/cate_case1.png" )
                        .galleryText
                            p  tore quasi. Ratione, totam dolorem dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus libero expedita corrupti ipsum quasi blanditiis ratione porro nostrum, sed dignissimos doloremque nemo, voluptatem quo tempora tempore autem id laboriosam ullam.
                            a(href="")
                                p View Site
                                
                    
            #dock
                #sort
                    a(href="https://www.twitter.com" target="_blank")
                        img(src="images/twitter.png" id="dockTwitter") 
                        
                                            
                    a(href="" target="_blank")
                        img(src="images/reddit.png" id="dockReddit")
                    
                    a(href="" target="_blank")
                        img(src="images/github.png" id="dockGithub" )
                    
                    a(href="" target="_blank") 
                        img(src="images/insta.png" id="dockInsta")
                    
                    
                    img(src="images/email.png" id="dockEmail")
                    
                    
                    img(src="images/Settings.png" id="dockSettings")
                    
                //#noSort    
                    //span.border
                    
                    //.minFolderOverview: img(src="images/folder.png" )
                        
                    //.minFolderAbout: img(src="images/folder.png" )
                    
                    //.minFolderWelcome: img(src="images/folder.png" )
                    
                    //.minFolderPortfolio: img(src="images/folder.png" )
                    

                    //img(src="images/trash.png")
                    
    
    //-draggables
    script.
        
        $(function() {
        $( ".window" ).draggable({ 
            containment: ".wrapper", 
            scroll: false, stack: ".window", 
            distance: 0 
        })
        });
        
    
    //-sortables
    script.
        $(document).ready(function(){
        $('#dock').children().sortable(
        {
        containment: "parent",
        })
        });
    //- CSS changes 
    script.
        //- Overview Window
        //- close window on click x
        z = 0;
        $('.overviewClose').click(function(){
        $('.windowOverview').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.overviewMin').click(function(){
        $('.windowOverview').css("display", "none")
        $('.minFolderOverview').css("display", "inline-block")
        $('#dock').css("min-width", "")
        //$('.overviewDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconOverview').click(function(){
        $('.windowOverview').css("display", "block")
        $('.minFolderOverview').css("display", "none")
        
        });
        
        $('#iconOverview').click(function(){
        $('.windowOverview').css({
        "display": "block",
        //"position": "absolute",
        //"top": "10%",
        //"left": "40px",
        "z-index": ++z
        })
        
        $('.minFolderOverview').css("display", "none")
        });
        //- open window from dock
        $('.minFolderOverview').click(function(){
        $('.windowOverview').css({
            "display": "block",
            "z-index": ++z
        })
        $('.minFolderOverview').css("display", "none")
        });
        
        
        //About Window
        //- close window on click x
        $('.aboutClose').click(function(){
        $('.windowAbout').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.aboutMin').click(function(){
        $('.windowAbout').css("display", "none")
        $('.minFolderAbout').css("display", "inline-block")
        $('#dock').css("min-width", "")
        //$('.aboutDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconAbout').click(function(){
        $('.windowAbout').css("display", "block")
        $('.minFolderAbout').css("display", "none")
        
        });
        $('#iconAbout').click(function(){
        $('.windowAbout').css({
        "display": "block",
        //"position": "absolute",
        //"top": "15%",
        //"left": "60px",
        "z-index": ++z
        
        })
        $('.minFolderAbout').css("display", "none")
        });
        //- open window from dock
        $('.minFolderAbout').click(function(){
        $('.windowAbout').css({
            "display": "block",
            "z-index": ++z
        })
        $('.minFolderAbout').css("display", "none")
        });
        
        //Welcome Window
        //- close window on click x
        $('.welcomeClose').click(function(){
        $('.windowWelcome').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.welcomeMin').click(function(){
        $('.windowWelcome').css("display", "none")
        $('.minFolderWelcome').css("display", "inline-block")
        $('#dock').css("min-width", "")
        //$('.aboutDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconWelcome').click(function(){
        $('.windowWelcome').css("display", "block")
        $('.minFolderWelcome').css("display", "none")
        
        });
        $('#iconWelcome').click(function(){
        $('.windowWelcome').css({
        "display": "block",
        "position": "absolute",
        "z-index": ++z
        
        })
        $('.minFolderWelcome').css("display", "none")
        });
        //- open window from dock
        $('.minFolderWelcome').click(function(){
        $('.windowWelcome').css({
            "display": "block",
            "z-index": ++z
        })
        $('.minFolderWelcome').css("display", "none")
        });
        
        //Welcome Window
        //- close window on click x
        $('.portfolioClose').click(function(){
        $('.windowPortfolio').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.portfolioMin').click(function(){
        $('.windowPortfolio').css("display", "none")
        $('.minFolderPortfolio').css("display", "inline-block")
        $('#dock').css("min-width", "")
        //$('.aboutDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconPortfolio').click(function(){
        $('.windowPortfolio').css("display", "block")
        $('.minFolderPortfolio').css("display", "none")
        
        });
        $('#iconPortfolio').click(function(){
        $('.windowPortfolio').css({
        "display": "block",
        "position": "absolute",
        "z-index": ++z,
        //"position": "absolute",
        //"top": "20%",
        //"left": "80px",
        
        })
        $('.minFolderPortfolio').css("display", "none")
        });
        //- open window from dock
        $('.minFolderPortfolio').click(function(){
        $('.windowPortfolio').css({
            "display": "block",
            "z-index": ++z
        })
        $('.minFolderPortfolio').css("display", "none")
        });
        //- Settings Window
        //- close window on click x
        $('.settingsClose').click(function(){
        $('.windowSettings').css("display", "none")
        });
        //-minimize settings click 
        $('.settingsMin').click(function(){
        $('.windowSettings').css("display", "none")
        
        });      
        //- open settings window from dock
        $('#dockSettings').click(function(){
        $('.windowSettings').css({
        "display": "block",
        "position": "absolute",
        "z-index": ++z
        })
        });
        //Email Window
        //- close window on click x
        $('.emailClose').click(function(){
        $('.windowEmail').css("display", "none")
        });
        //-minimize email click 
        $('.emailMin').click(function(){
        $('.windowEmail').css("display", "none")
        });   
        // open email window from dock
        $('#dockEmail').click(function(){
        $('.windowEmail').css({
        "display": "block",
        //"position": "absolute",
        //"top": "25%",
        //"left": "100px",
        "z-index": ++z
        })
        });
        
        //portfolio display
        $('#itemCate').click(function(){
        $('.windowGallery, #cate').css({
        "display": "block",
        "position": "absolute",
        "z-index": ++z
        })
        $("#forest").css('display', 'none')
        });
        $('#itemForest').click(function(){
        $('.windowGallery, #forest').css({
        "display": "block",
        "position": "absolute",
        "z-index": ++z
        })
        $("#cate").css('display', 'none')
        });
        
        
        
        
    
    //moment js time
    script.
        var datetime = null,
                date = null;

        var update = function () {
        date = moment(new Date())
        datetime.html(date.format('dddd h:mm A'));
        };

        $(document).ready(function(){
        datetime = $('#time')
        update();
        setInterval(update, 1000);
        });
        
    script.
        !function(a){function f(a,b){if(!(a.originalEvent.touches.length>1)){a.preventDefault();var c=a.originalEvent.changedTouches[0],d=document.createEvent("MouseEvents");d.initMouseEvent(b,!0,!0,window,1,c.screenX,c.screenY,c.clientX,c.clientY,!1,!1,!1,!1,0,null),a.target.dispatchEvent(d)}}if(a.support.touch="ontouchend"in document,a.support.touch){var e,b=a.ui.mouse.prototype,c=b._mouseInit,d=b._mouseDestroy;b._touchStart=function(a){var b=this;!e&&b._mouseCapture(a.originalEvent.changedTouches[0])&&(e=!0,b._touchMoved=!1,f(a,"mouseover"),f(a,"mousemove"),f(a,"mousedown"))},b._touchMove=function(a){e&&(this._touchMoved=!0,f(a,"mousemove"))},b._touchEnd=function(a){e&&(f(a,"mouseup"),f(a,"mouseout"),this._touchMoved||f(a,"click"),e=!1)},b._mouseInit=function(){var b=this;b.element.bind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),c.call(b)},b._mouseDestroy=function(){var b=this;b.element.unbind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),d.call(b)}}}(jQuery);
     
     
    //dock bounce 
    script.
        $( '#dockTwitter' ).click(function() {
        $( "#dockTwitter" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dockReddit" ).click(function() {
        $( "#dockReddit" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dockGithub" ).click(function() {
        $( "#dockGithub" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dockInsta" ).click(function() {
        $( "#dockInsta" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dockEmail" ).click(function() {
        $( "#dockEmail" ).effect( "bounce", {times:3}, 1000 );
        });
        //settings
        $( "#dockSettings" ).click(function() {
        $( "#dockSettings" ).effect( "bounce", {times:3}, 1000 );
        });
    
    
    //background select script
    script.
        $('.background1').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper.jpg)');
        });
        $('.background2').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper2.jpg)');
        });
        $('.background3').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper3.jpg)');
        });
        $('.background4').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper4.jpg)');
        });
        $('.background5').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper5.jpg)');
        });
    script.
        setTimeout(function(){
         $('.loaderWrapper').remove();
             }, 2000);
        
        $(".wrapper").hide(0).delay(2000).fadeIn(1000)
        
        $('a').click(function (e) {
            e.preventDefault();                   // prevent default anchor behavior
            var goTo = this.getAttribute("href"); // store anchor href

            // do something while timeOut ticks ... 

            setTimeout(function(){
                 window.location = goTo;
            },500);       
        }); 

        
    script.    
        $(function(){
          $(".loadText").typed({
            strings: ["ianOS developed by Ian Anderson <br> Built on <br> HTML - Jade <br> CSS - Sass <br> Javascript <br> Version 1.0 - March, 7 2016 <br> loading 100%"],
             cursorChar: "_",
            typeSpeed: -75
          })
          
          });     


    

        
        
        
        
        
        
        
