doctype html
html
    head
        link(href="styles.css" rel="stylesheet")
        script(src='js/javascripts.js')
        link(link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel='stylesheet')
        
        link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js")
        
        
    body
        .wrapper
            #topNav
                ul.left
                    li.glyphicon.glyphicon-apple
                    li.bold ianOS
                    li File
                    li Edit
                    li View
                    li Go
                    li Window
                    li Help
                ul.right
                    li.glyphicon.glyphicon-signal
                    li.glyphicon.glyphicon-th
                    li 100%
                    li#time
                    li Ian Anderson
                    li.glyphicon.glyphicon-search
                    li.glyphicon.glyphicon-menu-hamburger
            
            
            .desktop_icon#iconOverview
                img(src="images/folder.png" ) 
                p Overview
            .desktop_icon#iconAbout
                img(src="images/folder.png" ) 
                p About
                
            .window.windowOverview
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.overviewClose
                        li.glyphicon.glyphicon-minus-sign.overviewMin
                        
                        
                    ul.tab
                        li OVERVIEW
                        
                        
                .windowIcon
                span.about 
                    h1 Ian Anderson
                    h6 Version 4.0
                    h3 Frontend Web Developer
                    p Degree 
                        span  Business Management B.S.
                    p Experience
                        span ~1.5 years
                    p Languages
                        span HTML/Jade, CSS/Sass, Javascript/jQuery
                    p Tools
                        span Git, Photoshop, Atom/Brackets
                    p Environments
                        span Windows, Mac, Linux
                    
              
                        
            .window.windowAbout
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.aboutClose
                        li.glyphicon.glyphicon-minus-sign.aboutMin
                        

                    ul.tab
                        li ABOUT
                .windowIcon
                span.about 
                    h1 Ian Anderson
                    h6 Version 4.0
                    h3 Web Designer
                    p Degree 
                        span Business Management
                    p Experience
                        span ~1.5 years
                    p Languages
                        span HTML/Jade, CSS/Sass, Javascript/jQuery
                    p Tools
                        span Git, Photoshop, Atom/Brackets
                    p Environments
                        span Windows, Mac, Linux
                        
            .window.windowSettings
                .windowBar
                    ul.button
                        li.glyphicon.glyphicon-remove-sign.settingsClose
                        li.glyphicon.glyphicon-minus-sign.settingsMin
                    ul.tab
                        li SETTINGS  
                span.setting
                        .wallpaper
                            h4 Set Wallpaper
                            ul.backgroundChange
                                li: button.background1 Mountains
                                li: button.background2 Sherbet
                                li: button.background3 Oceanic
                                li: button.background4 Silver
                        
                        
            #dock
                #sort
                    img(src="images/twitter.png" id="dock1")
                    img(src="images/reddit.png" id="dock2")
                    img(src="images/github.png" id="dock3" )
                    img(src="images/insta.png" id="dock4")
                    img(src="images/email.png" id="dock5")
                    img(src="images/Settings.png" id="dock6")
                    
                #noSort    
                    //span.border
                    
                    .minFolderOverview: img(src="images/folder.png" )
                    p.overviewDesc Overview    
                    .minFolderAbout: img(src="images/folder.png" )
                    p.aboutDesc About
                    img(src="images/trash.png")
                    
    
    //-draggables
    script.
        $(function() {
        $( ".desktop_icon" ).draggable({ containment: ".wrapper", scroll: false, stack: ".desktop_icon", distance: 0 });
        });
        
        $(function() {
        $( ".window" ).draggable({ containment: ".wrapper", scroll: false, handle: ".windowBar", stack: ".window", distance: 0 });
        });
        
    
    //-sortables
    script.
        $(document).ready(function(){
        $('#sort').sortable(
        {
        containment: "parent"
        });
        });
    //- CSS changes 
    script.
        //- Overview Window
        //- close window on click x
        $('.overviewClose').click(function(){
        $('.windowOverview').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.overviewMin').click(function(){
        $('.windowOverview').css("display", "none")
        $('.minFolderOverview').css("display", "block")
        $('#dock').css("min-width", "")
        //$('.overviewDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconOverview').dblclick(function(){
        $('.windowOverview').css("display", "block")
        $('.minFolderOverview').css("display", "none")
        });
        
        $('#iconOverview').dblclick(function(){
        $('.windowOverview').css({
        "display": "block",
        "position": "absolute",
        "top": "12%",
        "left": "80px",
        
        })
        $('.minFolderOverview').css("display", "none")
        });
        //- open window from dock
        $('.minFolderOverview').click(function(){
        $('.windowOverview').css("display", "block")
        $('.minFolderOverview').css("display", "none")
        });
        
        
        //About Window
        //- close window on click x
        $('.aboutClose').click(function(){
        $('.windowAbout').css("display", "none")
        });
        //-minimize overview click - and add folder to dock
        $('.aboutMin').click(function(){
        $('.windowAbout').css("display", "none")
        $('.minFolderAbout').css("display", "block")
        $('#dock').css("min-width", "")
        //$('.aboutDesc').css("display", "block")
        });
        //- open on overiew doubleclick and remove folder from dock
        $('#iconAbout').dblclick(function(){
        $('.windowAbout').css("display", "block")
        $('.minFolderAbout').css("display", "none")
        
        });

        $('#iconAbout').dblclick(function(){
        $('.windowAbout').css({
        "display": "block",
        "position": "absolute",
        "top": "16%",
        "left": "100px",
        
        })
        $('.minFolderAbout').css("display", "none")
        });
        //- open window from dock
        $('.minFolderAbout').click(function(){
        $('.windowAbout').css("display", "block")
        $('.minFolderAbout').css("display", "none")
        });
        
        //- Settings Window
        //- close window on click x
        $('.settingsClose').click(function(){
        $('.windowSettings').css("display", "none")
        });
        //-minimize settings click 
        $('.settingsMin').click(function(){
        $('.windowSettings').css("display", "none")
        
        });
        

        
        //- open settings window from dock
        $('#dock6').click(function(){
        $('.windowSettings').css({
        "display": "block",
        "position": "absolute",
        "top": "20%",
        "left": "120px",
        
        })
        
        });
        
        
        

        //resizable
    script.
        $(function() {
        $( ".window" ).resizable({
        minWidth: 600, 
        minHeight: 400,
        containment: ".wrapper"
        });
        });
    
    
    //moment js time
    script.
        var datetime = null,
                date = null;

        var update = function () {
        date = moment(new Date())
        datetime.html(date.format('dddd h:mm A'));
        };

        $(document).ready(function(){
        datetime = $('#time')
        update();
        setInterval(update, 1000);
        });
        
    script.
        !function(a){function f(a,b){if(!(a.originalEvent.touches.length>1)){a.preventDefault();var c=a.originalEvent.changedTouches[0],d=document.createEvent("MouseEvents");d.initMouseEvent(b,!0,!0,window,1,c.screenX,c.screenY,c.clientX,c.clientY,!1,!1,!1,!1,0,null),a.target.dispatchEvent(d)}}if(a.support.touch="ontouchend"in document,a.support.touch){var e,b=a.ui.mouse.prototype,c=b._mouseInit,d=b._mouseDestroy;b._touchStart=function(a){var b=this;!e&&b._mouseCapture(a.originalEvent.changedTouches[0])&&(e=!0,b._touchMoved=!1,f(a,"mouseover"),f(a,"mousemove"),f(a,"mousedown"))},b._touchMove=function(a){e&&(this._touchMoved=!0,f(a,"mousemove"))},b._touchEnd=function(a){e&&(f(a,"mouseup"),f(a,"mouseout"),this._touchMoved||f(a,"click"),e=!1)},b._mouseInit=function(){var b=this;b.element.bind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),c.call(b)},b._mouseDestroy=function(){var b=this;b.element.unbind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),d.call(b)}}}(jQuery);
     
     
    //dock bounce 
    script.
        $( "#dock1" ).click(function() {
        $( "#dock1" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dock2" ).click(function() {
        $( "#dock2" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dock3" ).click(function() {
        $( "#dock3" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dock4" ).click(function() {
        $( "#dock4" ).effect( "bounce", {times:3}, 1000 );
        });
        
        $( "#dock5" ).click(function() {
        $( "#dock5" ).effect( "bounce", {times:3}, 1000 );
        });
        //settings
        $( "#dock6" ).click(function() {
        $( "#dock6" ).effect( "bounce", {times:3}, 1000 );
        });
    
    
    //background select script
    script.
        $('.background1').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper.jpg)');
        });
        $('.background2').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper2.jpg)');
        });
        $('.background3').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper3.jpg)');
        });
        $('.background4').click(function() {
        $('.wrapper').css('background-image', 'url(images/wallpaper4.jpg)');
        });

    
        

        
        
        
        
        
        
        
        
        